@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.reader-content::-webkit-scrollbar {
    width: 8px;
}
.reader-content::-webkit-scrollbar-track {
    background: transparent;
}
.reader-content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.dark .reader-content::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
}
